<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{% block title %}AriegeTresHautDebit{% endblock %}</title>
    <link rel="stylesheet" href="{{asset('assets/css/main.css')}}" />
    <noscript>
        <link rel="stylesheet" href="{{asset('assets/css/noscript.css')}}" />
    </noscript>
    {% block stylesheets %}{% endblock %}
    <title>THD Ariége</title>
</head>
<body class="is-preload">
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="{{path('landing')}}">ARTHD</a></h1>
            <nav id="nav">
                <ul>
                    <li>
                        <a class="button small" href="#">Les Offres</a>
                        <ul>
                            <li>
                                <a href="#">Particuliers</a>
                                <ul>
                                    <li><a href="{{path('particulier_thd')}}">Le trés haut débit</a></li>
                                    <li><a href="{{path('particulier_techno')}}">Les technologies THD</a></li>
                                    <li><a href="{{path('particulier_offres')}}">Les offres</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Entreprises</a>
                                <ul>
                                    <li><a href="{{path('right_sidebar')}}">Les performances THD</a></li>
                                    <li><a href="{{path('no_sidebar')}}">THD Entreprises</a></li>
                                    <li><a href="{{path('no_sidebar')}}">Les offres</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Collectivités</a>
                                <ul>
                                    <li><a href="{{path('controles_index')}}">Le THD pour les territoires</a></li>
                                    <li><a href="{{path('no_sidebar')}}">Les offres</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="button small" href="#">Opérateurs</a>
                        <ul>
                            <li><a href="{{path('element')}}">Offres de références</a></li>
                            <li><a href="{{path('right_sidebar')}}">Publications de lots</a></li>
                            <li><a href="{{path('no_sidebar')}}">Offres ARTHD</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="button small" href="#">Éligibilité</a>
                        <ul>
                            <li><a href="{{path('eligibilite')}}">Testez votre accés à la fibre</a></li>
                        </ul>
                    </li>
                    <li><a class="button small" href="{{path('controles_index')}}">Nous contacter</a></li>
                    <li>
                        {% if app.user %}
                        <a class="button primary small" href="{{ path('app_logout') }}">Déconnexion</a>

                    {% if app.user %}
                        <li><h4>{{ app.user.username }}</h4></li>
                    {% endif %}
                        {% else %}
                        <a class="button primary small" href="{{path('app_login')}}">Connexion</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Main -->
        <div id="main" class="wrapper style1">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
            <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; 09THD. All rights reserved.</li><li>Design: <a href="#">Said Boukhris</a></li>
                </ul>
            </footer>
        </div>
    </div>
    {% block javascripts %}{% endblock %}
    <!-- Scripts -->
        <script src="{{asset('assets/js/jquery.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery.scrolly.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery.dropotron.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery.scrollex.min.js')}}"></script>
        <script src="{{asset('assets/js/browser.min.js')}}"></script>
        <script src="{{asset('assets/js/breakpoints.min.js')}}"></script>
        <script src="{{asset('assets/js/util.js')}}"></script>
        <script src="{{asset('assets/js/main.js')}}"></script>
</body>
</html>